.container-login {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(63, 49, 100, 0.85), rgba(63, 49, 100, 0.85)), url("../../assets/img/background-cloud.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 350px;
  display: flex;
  flex-direction: column;
}

.logo{
  margin-bottom: 25px;
}

.btn-login{
  width: 100%;
}


.form-login{
  background-color: transparent;
  border-radius: 27px !important;
  height: calc(1.5em + 0.75rem + 15px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  border: 2px solid #9d93b8;
  color: white;
  width: 100%;
}

.form-login:focus{
  border-color: #9d93b8;
  background: transparent;
  color: white;
  box-shadow: none;
} 


.form-login::placeholder {
  color: white;
}

.btn-login{
  text-transform: uppercase;
  border-radius: 27px !important;
  background-image: linear-gradient(to right, #f55267, #c242bd);
  border: none !important;
  color: white;
  height: calc(1.5em + 0.75rem + 13px);
}

.btn-login:focus{
  outline: none;
  box-shadow: none;
}