.container-topnavbar{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    color: #141c34;
}

.content-topnavbar{
    border-left: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bars{
    align-items: center;
    margin-left: 30px;
    color: #141c34;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.container-topnavbar .title{
    text-transform: uppercase;
    display: flex;  
    align-items: center;
    margin-left: 30px;
    width: 500px;
}

.actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.actions div{
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
}

.actions div:hover{
    background-color:#e3e3e3;
}

.actions .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions .sing-out{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #999999;
    width: 59px;
}

.actions .profile img{
    height: 35px;
    width: 35px;
}

@media (max-width: 600px) {
    .bars{
        display: flex;
    }

    .container-topnavbar .title{
        display: none;
    }
}