.container-header{
    display: flex;
    flex-direction: row;
}

.container-content{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    width: calc(100vw - 300px);
    /* Remover */
    height: 100vh; 
    background-color: #f0f3f8;
}

.main-content{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
}   

.main-content h1{
    font-size: 30px;
    font-weight: 600;
    color: #141c34;
}

@media (max-width: 600px) {
    .container-content{
        width: 100vw;
        margin-left: 0px;
    }

    .hidden.show{
        display: block;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0,0,0,0.4);
        top: 0;
        left: 0;
        z-index: 1;
    }
}